.my-app {
  // width: 7.61rem; // 761px;
  width: 100%;
  height: 3.92rem; // 392px;
  background-size: contain;
  .title {
    position: relative;
    padding: 0.25rem 0.35rem !important;
    & > div:first-child {
      font-size: 0.28rem;
      text-align: center;
      width: 100%;
    }
    & > div:last-child {
      position: absolute;
      right: 0.1rem;
      width: auto;
    }
  }
  .content {
    position: relative;
    // height: 5rem;
    height: 1.6rem;
    margin: 1rem 0;
    & > div {
      width: 100%;
      height: 100%;
      overflow: hidden;
     /*  position: absolute;
      top: 50%;
      transform: translateY(-50%); */
    }
    .left-button {
      left: 0.35rem; // 35px;
    }
    .right-button {
      right: 0.35rem; // 35px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 0 0.35rem; // 0 68px;
      li {
        width: 20%;
        text-align: center;
        margin: 0.2rem 0; // 16px 0;
        & > div:first-child {
          height: 0.68rem;
          img {
            // transform: scale(1.2);
            cursor: pointer;
          }
        }
        a {
          width: 1.2rem; // 80px;
          display: block;
          margin: auto;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 0.14rem; // 16px;
          margin-top: 0.13rem; // 13px;
          margin-bottom: 0.04rem; // 4px;
          color: #e8e9ea;
          cursor: pointer;
        }
        div {
          color: #e8e9ea;
          i {
            width: 0.16rem; // 16px;
            height: 0.16rem; // 16px;
            display: inline-block;
            background: url("/static/images/ui/manager.png");
            background-size: contain;
            vertical-align: text-bottom;
            margin-right: 0.05rem; // 5px;
          }
          span {
            color: rgba(245, 186, 13, 0.8);
          }
        }
      }
    }
    .el-carousel {
      height: 100%;
      .el-carousel__container {
        button {
          font-size: 0.5rem;
          width: auto;
          height: auto;
        }
      }
    }
  }
}

.one-map {
  width: 4.61rem; // 461px;
  // height: 3.92rem; // 392px;
  height: 2rem;
  background-size: contain;
  position: relative;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  &.type1 {
    border: 2px solid #2c565e;
  }
  &.type2 {
    box-shadow: 0px 0px 20px 1px #607c80;
  }
  .content {
    height: 2.6rem; // 260px;
    margin: 0.26rem 0.3rem 0; // 26px 30px 0;
    img {
      width: 100%;
    }
  }
  .map-all {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0.3rem;
    z-index: -1;
    img {
      width: 100%;
      transform: scale(1.3);
    }
  }
}

.data-menu {
  //   width: 7.61rem; // 761px;
  width: calc(100% - 5.2rem);
  // height: 2.8rem; // 280px;
  height: 2rem;
  background-size: contain;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  &.type1 {
    border: 2px solid #2c565e;
  }
  &.type2 {
    box-shadow: 0px 0px 20px 1px #607c80;
  }
  .content {
    font-size: 0.16rem; // 16px;
    color: #f5ba0d;
    & > div {
      width: 6.24rem; // 624px;
      margin-top: 0.2rem; // 52px;
      margin-left: 0.61rem; // 61px;
      overflow: hidden;
    }
    ul {
      display: flex;
      text-align: center;
      li {
        & > div {
          width: 1.04rem; // 104px;
          img {
            width: 0.42rem; // 60px;
            height: 0.51rem; // 71px;
            cursor: pointer;
          }
          div {
            margin: 0.15rem 0; // 15px 0;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            cursor: pointer;
            font-size: 0.14rem;
          }
        }
      }
    }
  }
}

.user-notice {
  width: 100%;
  color: #fff;
  & > div {
    display: flex;
    margin: 0 0.1rem;
    p.notice-title {
      width: 1rem;
      font-size: 0.18rem;
      margin: 0;
      color: #2ac1db;
    }
    div.content {
      width: calc(100% - 1rem);
      font-size: 0.14rem;
      overflow: hidden;
      ul {
        display: flex;
        line-height: 0.18rem;
        white-space: nowrap;
        height: 100%;
        align-items: center;
        li {
          line-height: 0.18rem;
          margin-right: 0.5rem;
          a {
            color: #ddd;
            width: 4rem;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
          }
        }
      }
      ul.animation-1 {
        animation: notice-scroll-1 5s linear infinite;
      }
      ul.animation-2 {
        animation: notice-scroll-2 10s linear infinite;
      }
      ul.animation-3 {
        animation: notice-scroll-3 15s linear infinite;
      }
      ul.animation-4 {
        animation: notice-scroll-4 20s linear infinite;
      }
      ul.animation-5 {
        animation: notice-scroll-5 25s linear infinite;
      }
    }
  }
}

@keyframes notice-scroll-5 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -22.5rem;
  }
}

@keyframes notice-scroll-1 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -4.5rem;
  }
}

@keyframes notice-scroll-2 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -9rem;
  }
}

@keyframes notice-scroll-3 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -13.5rem;
  }
}

@keyframes notice-scroll-4 {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -18rem;
  }
}